/* @import-normalize; bring in normalize.css styles */

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;700&family=Source+Sans+Pro:ital,wght@1,300&display=swap');

/* font-family: 'Source Sans Pro', sans-serif; */

:root{
  --font-family: 'Josefin Sans', sans-serif;
  /* https://colorhunt.co/palette/220248 */
  /* --primary-color: #222831; */
  --primary-color: #191e2b;
  /* --primary-color: #252a34; */
  --secondary-color:#e8e8e8;
  --highlight-color:#f05454;
  --highlight-color1:#010101;
  --highlight-green:#54f0a8;
  /* --highlight-color1:#1b1b2f; */
}
html, body, h1,h2{
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family:var(--font-family);
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:var(--primary-color);
  color: var(--secondary-color);
}

a{
  color:var(--highlight-color)
}

	/* container properties */
	.scrollbar {
		width:100%;
		max-width:100%;
		height:400px;
		/* background-color:#7bd6fc; */
		/* overflow-y:scroll; */
	}
	
	/* customize scrollbar css */
	.scroll-custom::-webkit-scrollbar{
		width:5px;
		background-color:#cccccc;
	}
	.scroll-custom::-webkit-scrollbar:horizontal{
		height:5px;
	}
	.scroll-custom::-webkit-scrollbar-track{
		border:1px #787878 solid;
		border-radius:10px;
		-webkit-box-shadow:0 0 6px #c8c8c8 inset;
	}
	.scroll-custom::-webkit-scrollbar-thumb{
		background-color:#000000;
		border:1px solid #000000;
		border-radius:16px;
	}
	.scroll-custom::-webkit-scrollbar-thumb:hover{
		background-color:#bf4649;
		border:1px solid #333333;
	}
	.scroll-custom::-webkit-scrollbar-thumb:active{
		background-color:#000000;
		border:1px solid #333333;
	}