@import "normalize"; /* bring in normalize.css styles */

/* rest of app styles */
:root{
    --font:sans-serif;
    --primary-color:#222831;
    --secondary-color:#30475e;
    --highlight-color:#f05454;
    --grey-color:#e8e8e8;
    --black-color:#111;
}

html,body{
    background-color:var(--primary-color);
    color:var(--highlight-color);
    font-family: var(--font);
}
a{
    color: var(--highlight-color);
}

#contact .wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color:#ababab; */
}

.about-wrapper{
    display: flex;
    /* align-items: center; */
    /* align-items: center; */
    justify-content: center;
}

.section h1{
    text-transform: uppercase;
    color:#000
}