:root {
  --bg-color:#0F0F0D;
  --fg-color:#FFF;
  --color:#E94ced
}

body{
  background-color:var(--bg-color) ;
  color:var(--fg-color)
}

a:visited{
  color:var(--color)
}

ul{
  list-style-type: none;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

